.vscode/settings.json
*.mp3
.DS_Store
test_dl.py
Sprit of Justice Art.afphoto
SpiritOfJustice.png
read_tags.py
Spirit of Justice.json
Professor Layton vs. Phoenix Wright: Ace Attorney
Phoenix Wright: Ace Attorney − Spirit of Justice
Phoenix Wright: Ace Attorney - Trials and Tribulations
Phoenix Wright: Ace Attorney - Justice for All
Phoenix Wright: Ace Attorney
Apollo Justice: Ace Attorney
*.afphoto
*.json
*.png
